.adminLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f2f5;
}

.adminLogin h1 {
    color: #333;
    margin-bottom: 20px;
    font-size: 2em;
}

.adminForm {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

.adminForm div {
    margin-bottom: 15px;
}

.adminEmail1 {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.loginBtm {
    text-align: center;
}

.adminEmail {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.adminEmail:hover {
    background-color: #0056b3;
}
#hi{
    text-decoration: underline !important;
}